RewriteEngine On
    RewriteBase /TUGAS-PWEB/
    RewriteRule ^index\\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /TUGAS-PWEB/index.php [L]